/* montserrat-200 - latin */
@font-face {
  font-family: "Montserrat Ultra Light";
  src: url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.eot");
  src: url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.svg#Montserrat Ultra Light")
      format("svg");
}

@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"),
    url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"),
    url("../fonts/MYRIADPRO-COND.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Condensed Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed Italic"),
    url("../fonts/MYRIADPRO-CONDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Light";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Light"),
    url("../fonts/MyriadPro-Light.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"),
    url("../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold Italic"),
    url("../fonts/MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed"),
    url("../fonts/MYRIADPRO-BOLDCOND.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"),
    url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Italic"),
    url("../fonts/MYRIADPRO-BOLDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold Condensed Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed Italic"),
    url("../fonts/MYRIADPRO-BOLDCONDIT.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

.header {
  background-size: 100%;
  background: url("../images/Header.png") no-repeat fixed top center;
}

header a {
  color: rgb(255, 255, 255);
}
.nav {
  padding-top: 30px;
  padding-left: 201px;
  padding-right: 300px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 430px;
  padding-bottom: 32px;
}

.menu {
  cursor: pointer;
  display: flex;
}
.menu li {
  margin-right: 69px;
}

.menu-points:hover {
  border-bottom: 1px solid white;
}

.menu-points {
  padding-bottom: 32px;
}

.menu li a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Lato";
}

.underline-nav {
  padding-top: -5px;
  padding-left: 201px;
}

.header-text {
  color: rgb(255, 255, 255);
  padding-top: 346px;
  padding-bottom: 335px;
  text-align: center;
  padding-left: 80px;
}

.welcome-text {
  text-transform: uppercase;
  font-size: 72px;
  font-family: "Myriad Pro Bold";
}
.welcome-helper {
  font-size: 32px;
  font-family: "Georgia";
  line-height: 45px;
  padding-top: 0;
}

.register {
  background: linear-gradient(-77deg, #21424a 0 50%, #2fac6c 50% 100%);

  padding-left: 470px;
}

.register-buttoms {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  align-items: center;
}

.register div > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.register div:not(:last-child) {
  padding-right: 515px;
}


.shop-text {
  margin-top: 95px;
  margin-bottom: 40px;
  text-align: center;
  margin-left: 350px;
  outline: none;
  max-width: 890px;
}

.domain-article {
  color: rgb(56, 55, 55);
  font-size: 24px;
  line-height: 1.2;
  font-family: "Lato";
  margin-bottom: 30px;
}

.domain-info {
  font-size: 16px;
  font-family: "Montserrat Ultra Light";
  /* color: rgb(162, 162, 162); */
  line-height: 1.2;
}

.options {
  margin-left: 350px;
  margin-bottom: 40px;
  display: inline-flex;
  border: 1px solid rgb(203, 203, 203);
  width: 890px;
}

.start-domain {
  padding: 10px 15px;
  margin: 5px;
  border-right: 1px solid rgb(203, 203, 203);
  color: rgb(203, 203, 203);
  line-height: 1.2;

}

.center-domain {
  padding: 10px 5px;
  margin: 5px;
  width: 705px;
  outline: none;
  border: none;
  border-right: 1px solid rgb(203, 203, 203);
  line-height: 1.2;
}

.last-domain {
  padding: 10px;
  margin: 5px;
  outline: none;
  border: none;
  background: none;
  color: rgb(203, 203, 203);
  line-height: 1.2;

}

.domain-table {
  margin-left: 350px;
  margin-bottom: 90px;
  padding: 0 20px 0 25px;
  border: 1px solid rgb(203, 203, 203);
  max-width: 890px;
}

.domain-content {
  display: flex;
  flex-direction: column;
}

.domain-content li ul{
  display: flex;
  flex-direction: row;
  
}

li {
  list-style-type: none; /* Убираем маркеры */
}


.domain-content-top {
  margin-top: 15px;
  margin-bottom: 5px;
}

.domain-content-bottom {
  margin-top: 4px;
  margin-bottom: 15px;
}

.bottom-content-element {
  width: 220px;
  height: 75px;
  text-align: center;
}

.bottom-content-element:not(:last-child) {
  border-right: 1px solid rgb(203, 203, 203);
}


.domain-content-top ul li a,
.domain-content-bottom ul li a {
  display: inline-block;
  padding: 25px 0 25px 0;
  text-decoration: none;
  font-size: 14px;

  color: rgb(203, 203, 203);
}

.domain-content-top ul li::after {
  display: flex;
  content: '';
  height: 8.5px;
  border-bottom: 1px solid rgb(203, 203, 203);
  width: 200px;
  margin: 0 5px 0 5px;
}

.domain-content-bottom ul li::before {
  display: flex;
  content: '';
  width: 200px;
  margin: 0 5px 0 5px;
    
}

.slider {
  background: url("../images/Slider_BG.png") top center;
  height: 190px;
  color: white;
}

.slider-buttoms {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
label.quot {
  display: block;
  opacity: 1;
  order: 0;
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.author-quote {
  display:block;
  font-weight: bold;
  align-items: center;
}

.author-quote::after {
  display: inline-block;
  content: '';
  height: 12px;
  width: 20px;
  margin-right: 10px;
  border-right: 1px solid rgb(147, 147, 147);
}

input[type="radio"] {
  appearance: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-radius: 50%;
  order: 1;
}

.slider-buttoms input {
  margin-right: 12px;
}

span.author-quote {
  margin-left: 710px;
}

input[type="radio"]:checked {
  background: rgba(255, 255, 255, 1);
  transition: background 0.5s ease;
}

.functions {
  height: 342px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.functions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.functions_logo {
  margin: 15px;
}

.functions_header {
  color: rgb(48, 48, 48);
  font-family: Lato, sans-serif;
  font-style: heavy;
  font-size: 18px;
}

.functions-text {
  color: rgb(126, 126, 126);
  font-family: FontAwesome, sans-serif;
  font-style: regular;
  font-size: 16px;
  text-align: center;
  margin: 15px;
}

.footer {
  background-size: 100%;
  background: #2a2a2a fixed;
  height: 300px;
}


.footer-nav {
  padding-top: 23px;
  padding-left: 201px;
  display: flex;
  align-items: center;
}

.logo-footer {
  margin-right: 625px;
}

.menu-footer {
  display: flex;
  cursor: pointer;
}

.menu-footer li {
  margin-right: 45px;
}

.footer-points {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Lato";
  line-height: 1.2;
  margin-right: 45px;
  color: #606060;
}

.footer-points:hover {
  color: white;
}

.footer-line {
  margin-top: 20px;
  margin-left: 201px;
}

.footer-copyrights {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(104, 104, 104);
  line-height: 1.733;
  margin-top: 23px;
  margin-left: 201px;
}

.copyrights-info {
  padding: 25px 85px 25px 0;
  border-right: 1px solid rgb(104, 104, 104);
}

.copyrights-menu {
  padding: 25px 105px 25px 105px;
  border-right: 1px solid rgb(104, 104, 104);
  display: inline-flex;
  cursor: pointer;
  quotes: "<" ">";
}
.copyrights-contact {
  padding: 0 0 25px 80px;
}

.copyrights-menu ul li:hover {
  color: white;
}

.copyrights-menu ul li:hover:before {

  content: "> \00a0 \00a0";
}

.copyrights-menu ul li:not(:hover):before {
  content: ">\00a0";
}



.copyrights-menu ul:not(:last-child) {
  margin-right: 75px;
}

.copyrights-menu ul li:not(:last-child) {
  margin-bottom: 5px;
}


