/* montserrat-200 - latin */
@font-face {
  font-family: "Montserrat Ultra Light";
  src: url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.eot");
  src: url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/c136aa346fbf887f692c9f21b2601c85.svg#Montserrat Ultra Light")
      format("svg");
}

@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"),
    url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"),
    url("../fonts/MYRIADPRO-COND.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Condensed Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed Italic"),
    url("../fonts/MYRIADPRO-CONDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Light";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Light"),
    url("../fonts/MyriadPro-Light.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"),
    url("../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold Italic"),
    url("../fonts/MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed"),
    url("../fonts/MYRIADPRO-BOLDCOND.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"),
    url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Italic"),
    url("../fonts/MYRIADPRO-BOLDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold Condensed Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed Italic"),
    url("../fonts/MYRIADPRO-BOLDCONDIT.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

.header {
  background-size: 100%;
  background: url("../images/Header.png") no-repeat fixed top center;
}

header a {
  color: rgb(255, 255, 255);
}
.nav {
  padding-top: 30px;
  padding-left: 201px;
  padding-right: 300px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 430px;
  padding-bottom: 32px;
}

.menu {
  cursor: pointer;
  display: flex;
}
.menu li {
  margin-right: 69px;
}

.menu-points:hover {
  border-bottom: 1px solid white;
}

.menu-points {
  padding-bottom: 32px;
}

.menu li a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Lato";
}

.underline-nav {
  padding-top: -5px;
  padding-left: 201px;
}

.header-text {
  color: rgb(255, 255, 255);
  padding-top: 346px;
  padding-bottom: 335px;
  text-align: center;
  padding-left: 80px;
}

.welcome-text {
  text-transform: uppercase;
  font-size: 72px;
  font-family: "Myriad Pro Bold";
}
.welcome-helper {
  font-size: 32px;
  font-family: "Georgia";
  line-height: 45px;
  padding-top: 0;
}

.register {
  background: linear-gradient(-77deg, #21424a 0 50%, #2fac6c 50% 100%);

  padding-left: 470px;
}

.register-buttoms {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  align-items: center;
}

.register div > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.register div:not(:last-child) {
  padding-right: 515px;
}

.shop-text {
  margin-top: 95px;
  margin-bottom: 40px;
  text-align: center;
  margin-left: 350px;
  outline: none;
  width: 890px;
}

.domain-article {
  color: rgb(56, 55, 55);
  font-size: 24px;
  line-height: 1.2;
  font-family: "Lato";
  margin-bottom: 30px;
}

.domain-info {
  font-size: 16px;
  font-family: "Montserrat Ultra Light";
  /* color: rgb(162, 162, 162); */
  line-height: 1.2;
}

.options {
  margin-left: 350px;
  margin-bottom: 95px;
  display: inline-flex;
  border: 1px solid rgb(203, 203, 203);
}

.start-domain {
  padding: 10px 15px;
  margin: 5px;
  border-right: 1px solid rgb(203, 203, 203);
  color: rgb(203, 203, 203);
  line-height: 1.2;

}

.center-domain {
  padding: 10px 5px;
  margin: 5px;
  width: 705px;
  outline: none;
  border: none;
  border-right: 1px solid rgb(203, 203, 203);
  line-height: 1.2;
}

.last-domain {
  padding: 10px;
  margin: 5px;
  outline: none;
  border: none;
  background: none;
  color: rgb(203, 203, 203);
  line-height: 1.2;

}



/* .domain-price {
  color: #CBCBCB;
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
  display: block;
  border: 1px solid #D9D9D9;
  margin: 0 auto;
  width: 888px;
  height: 173px;
}

.domain-table .table-row td.top::after {
  content: "";
  display: block;
  right: -6px;
  bottom: -6px;
  width: 12px;
  z-index: 1;
  border-radius: 100%;
  height: 12px;
  position: absolute;
  background-color: white;
}

.domain-table .table-row td.top:last-child:after {
  content: "";
  display: none;
}

.domain-table {
  position: relative;
  bottom: 10px;
  font-size: 14px;
  width: 856px;
  height: 170px;
  display: block;
}

.table-row {
  margin: 0 14px;
  display: flex;
}

.table-row td {
  position: relative;
  padding: 40px 40px;
  width: 14%;
}

.table-row td.top {
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}

.table-row td.bottom {
  border-right: 1px solid #D9D9D9;
}

.table-row td.bottom:last-child, .table-row td.top:last-child {
  border-right: none;
}

td.top:first-child {
  padding-top: 9px;
  padding-right: 55px;
}

td.top:last-child {
  padding-top: 9px;
  padding-left: 54px;
}

td.bottom:first-child {
  padding-right: 55px;
}

td.bottom:last-child {
  padding-top: 20px;
  padding-left: 54px;
}

td.bottom:nth-child(n) {
  padding-top: 19px;
  padding-bottom: 29px;
}

td.top.one {
  padding: 9px 56px 9px 56px;
}

td.bottom.one {
  padding: 19px 56px 19px 56px;
}

td.top.price {
  padding: 9px 56px 9px 56px;
}

td.bottom.price {
  padding: 18px 56px 19px 56px;
}

td.top::before, td.bottom::before {
  content: '';
  display: block;
  width: 110px;
  height: 18px;
} */

.footer {
  background-size: 100%;
  background: #2a2a2a fixed;
  height: 300px;
}


.footer-nav {
  padding-top: 23px;
  padding-left: 201px;
  display: flex;
  align-items: center;
}

.logo-footer {
  margin-right: 625px;
}

.menu-footer {
  display: flex;
  cursor: pointer;
}

.menu-footer li {
  margin-right: 45px;
}

.footer-points {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Lato";
  line-height: 1.2;
  margin-right: 45px;
  color: #606060;
}

.footer-points:hover {
  color: white;
}

.footer-line {
  margin-top: 20px;
  margin-left: 201px;
}

.footer-copyrights {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(104, 104, 104);
  line-height: 1.733;
  margin-top: 23px;
  margin-left: 201px;
}

.copyrights-info {
  padding: 25px 85px 25px 0;
  border-right: 1px solid rgb(104, 104, 104);
}

.copyrights-menu {
  padding: 25px 105px 25px 105px;
  border-right: 1px solid rgb(104, 104, 104);
  display: inline-flex;
  cursor: pointer;
  quotes: "<" ">";
}
.copyrights-contact {
  padding: 0 0 25px 80px;
}

.copyrights-menu ul li:hover {
  color: white;
}

.copyrights-menu ul li:hover:before {

  content: "> \00a0 \00a0";
}

.copyrights-menu ul li:not(:hover):before {
  content: ">\00a0";
}



.copyrights-menu ul:not(:last-child) {
  margin-right: 75px;
}

.copyrights-menu ul li:not(:last-child) {
  margin-bottom: 5px;
}


